body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d6a3e6, #d7b9eb);
    color: #ebdee5;
    margin: 0;
    padding: 0;
}

header {
    background: #4f3e7e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #9212b3;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #444;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); /* Translucent background */
}

.card {
    background: #bf9cdb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #c14fd8;
    border-radius: 5px;
    background: #d571e9;
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4e097c;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #8e09cc;
}

footer {
    background: #c690df;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links a {
    margin: 0 10px;
    color: #a70bd6;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}